@media all and (min-width:861px){
    /* 공통 */
    body{
        font-family: 'Noto Sans KR', sans-serif;
    }
    header,section,footer{
        width:100%;
        height:auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:15px 0;
    }
    .container{
        width:1250px;
        margin:20px 0;
        position: relative;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    }
    /* start */
    .start_bg{
        width:100vw;
        height:100vh;
        position: fixed;
        top:0;
        left:0;
        background-color: white;
        z-index:11;
    }
    .start_bg_active{
        animation:startBg 2s forwards;
    }
    @keyframes startBg{
        0%{opacity: 1;}
        99%{opacity:0;z-index: 11;}
        100%{z-index:-999;}
    }
    /* header */
    .nav_wrap{
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        top:0;
        width:100%;
        height:50px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:14px;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
        font-weight:600;
        z-index:13;
    }
    .logo{
        position: absolute;
        top:-5px;
        left:0;
        width:150px;
        height:50px;
    }
    .logo_active{
        animation:logo 2.5s forwards;
    }
    @keyframes logo{
        0%{width:100vw; height:100vh;}
        60%{width:100vw; height:100vh;}
        100%{width:150px; height:50px;}
    }
    .nav_wrap li{
        cursor: pointer;
        margin-right:80px;
    }
    .nav_wrap li:last-child{
        margin-right:80px;
    }
    .nav_wrap li:hover{
        color:#c9c9c9;
    }
    .big{
        font-size:0.9rem;
    }
    .small{
        font-size:0.7rem;
    }
    .title{
        margin:20px 0 40px 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .title > p{
        font-size:0.8rem;
        color:#b1b1b1;
        
    }
    .title_big{
        font-size:2rem;
    }
    .title_small{
        font-size:1.2rem;
        font-weight:600;
        transform-style: preserve-3d;
        transform: translateZ(-190px);
    }
    .title_icon{
        font-size:1.2rem;
    }
    /* s1 */
    .s1{
        margin-top:50px;
    }
    .s1 .container{
        display: flex;
    }
    .intro_img{
        position: relative;
        width:400px;
    }
    .hello_img{
        position: absolute;
        top:15%;
        right:1%;
        width:100px;
        height:40px;
    }
    .intro_text{
        width:100%;
        position:relative;
        background-color: #87a380;
        padding:15px 0 15px 40px;
        z-index: -1;
    }

    .intro_text .title{
        color:white;
    }
    .text{
        display: flex;
    }
    .text li{
        margin:0 90px 15px 0;
        color:white;
        font-size: 0.9rem;
    }

    /* s2 */
    .s2_mob{
        display: none;
    }
    .gallery{
        width:97%;
        height:600px;
        padding:0 1.5% 20px 1.5%;
        display: flex;
    }
    .gallery .gallery_list{
        flex:1;
        border:3px solid white;
        border-right:0;
        position: relative;
        overflow: hidden;
        transition:0.4s;
        filter:blur(2px) grayscale(1); 
    }
    .gallery .gallery_list:nth-child(1){order:1;}
    .gallery .gallery_list:nth-child(2){order:2;}
    .gallery .gallery_list:nth-child(3){order:3;}
    .gallery .gallery_list:nth-child(4){order:4;}
    .gallery .gallery_list:nth-child(5){order:7;}
    .gallery .gallery_list:nth-child(6){order:5;}
    .gallery .gallery_list:nth-child(7){order:6;}
    .gallery .gallery_list:last-child{
        border-right:3px solid white
    }
    .gallery .gallery_list a:after{
        content: '';
        width:100%;
        height:100%;
        position: absolute;
        top:0;

    }
    .gallery .gallery_list:hover{
        flex:3;
        filter:blur(0px) grayscale(0); 
    }
   
    .gallery .gallery_list:nth-child(1){
        background: url(../img/gallery_3.png) no-repeat center center;
    }
    .gallery .gallery_list:nth-child(2){
        background: url(../img/gallery_4.png) no-repeat center center;
    }
    .gallery .gallery_list:nth-child(3){
        background: url(../img/gallery_5.png) no-repeat center center;
        order:-2;
    }
    .gallery .gallery_list:nth-child(4){
        background: url(../img/gallery_6.png) no-repeat center center;
    }
    .gallery .gallery_list:nth-child(5){
        background: url(../img/gallery_7.png) no-repeat center center;
        order:-1;
    }

    .gallery_con{
        text-align: center;
        width:97%;
        height:auto;
        background-color:rgb(61, 61, 61);
        color:white;
        padding:10px 1.5%;
        position: absolute;
        bottom:-500px;
        transition: 0.5s;
        left:0;
    }
    .gallery_con:after{
        content:'';
        position: absolute;
        width:50px;
        height:50px;
        background-color:rgb(61, 61, 61);
        top:-10px;
        left:50%;
        margin-left:-25px;
        transform:rotate(135deg);
        z-index: -1;

    }
    .gallery .gallery_list:hover .gallery_con{
        bottom:0;
        transition-delay: 0.2s;
    }
    
    .gallery_con p{
        margin:10px 0;
    }
    .gallery_con .prtfolio_date{
        font-size:0.8rem;

    }
    .gallery_con .stack_list{
        display: flex;
        flex-wrap: wrap;
    }
    .stack_list{
        padding:0 10px;
        display: flex;
        justify-content: space-between;
        font-size:0.9rem;
    }
    
    /* s3 */
    .persnality_wrap{
        padding:0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .persnality_wrap li{
        width:48.454%;
        margin:15px 1.546% 15px 0;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
        box-sizing: border-box;
        padding:3.092%;
    }
    
    .persnality_wrap li:nth-child(2n){
        margin-right:0;
    }
    .persnality_title{
        display: inline-block;
        position: relative;
        margin-bottom:30px;
    }
    .persnality_title:after{
        content:'';
        position: absolute;
        bottom:-15px;
        left:0;
        width:30px;
        height:3px;
        background-color: #a1c698;
        transition-duration: 0.5s;
    }
    .persnality_wrap li:hover >.persnality_title:after{
        width:100%;
    }
    .persnality_text{
        font-size:0.9rem;
        color:#b1b1b1;
    }
    /* s4 */
    .skill_wrap{
        padding:50px 12%;
        margin:0 auto;
        width:76%;
        display: flex;
        align-items: center;
    }
    .skill_name_wrap{
        margin-right:10vw;
    }
    .skill_name_wrap .skill_name{
        margin-bottom:20px;
        font-size:2rem;
    }
    .skill_name_wrap .skill_name:last-child{
        margin-bottom:0;
    }

    .skill_bar_wrap .color_bar{
        position: relative;
        margin-bottom:35px;
        height:30px;
        background-color:#a1c698;
    }
    .skill_bar_wrap .color_bar:last-child{
        margin-bottom:0;
    }
    .color_bar::before{
        content:'';
        position: absolute;
        top:0;
        left:0;
        background-color: #e0f6da;
        width:400px;
        height:30px;
        z-index:-1
    }
    .html_bar_active{animation: html 1s forwards;}
    .css_bar_active{animation: css 1s forwards;}
    .javascript_bar_active{animation: javascript 1s forwards;}
    .jquery_bar_active{animation: jquery 1s forwards;}
    .ps_bar_active{animation: ps 1s forwards;}
    .ai_bar_active{animation: ai 1s forwards;}
    .xd_bar_active{animation: xd 1s forwards;}

    @keyframes html {
        0%{width:0;}
        100%{width:380px;}
    }
    @keyframes css {
        0%{width:0;}
        100%{width:380px;}
    }
    @keyframes jquery {
        0%{width:0;}
        100%{width:300px;}
    }
    @keyframes javascript {
        0%{width:0;}
        100%{width:180px;}
    }
    @keyframes ps {
        0%{width:0;}
        100%{width:250px;}
    }
    @keyframes ai {
        0%{width:0;}
        100%{width:250px;}
    }
    @keyframes xd {
        0%{width:0;}
        100%{width:200px;}
    }
    
    /* footer */
    .letter_wrap{
        padding:15px;
    }
    .letter_img{
        position: relative;
        top:0;
        width:130px;
        height:80px;
        margin:0 auto;
        animation:letter 2s infinite;
        animation-timing-function:ease-in-out;
        cursor: pointer;
    }
    @keyframes letter{
        0%{top:0px;}
        25%{top:10px;}
        50%{top:0px;}
        75%{top:10px;}
        100%{top:0px;}
        
    }
    .letter_text{
        margin-top:40px;
        text-align: center;
    }
    .act_letter{
       position: fixed;
       top:0; 
       width:100%;
       height:100vh;
       justify-content: center;
       background-color: rgba(0,0,0,0.9);
       z-index:15;
       display: none;
    }
    .letter_act{
        display:flex ;
    }
    .act_letter > img{
        width:400px;
        height:250px;
        position: absolute;
        top:30%;
    }
    .letter_close{
        position: absolute;
        top:50px;
        right:0;
        width:35px;
        height:35px;
        background-color: gray;
    }
    .letter_click{
        position: absolute;
        top:5px;
        left:44.5px;
        animation:letterclick 0.5s infinite;
    }

    @keyframes letterclick {
        0%{
            color:#f87272;
        }
        50%{
            color:#daba63;
        }
        100%{
            color:#f87272;
        }
    }















}