@media all and (min-width:861px){
    /* 공통 */
    body{
        font-family: 'Noto Sans KR', sans-serif;
    }
    header,section,footer{
        width:100%;
        height:auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:15px 0;
    
    }
    .container{
        width:1250px;
        margin:20px 0;
        position: relative;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    }
    
    /* header */
    .nav_wrap{
        font-family: 'Open Sans', sans-serif;
        position: fixed;
        top:0;
        width:100%;
        height:50px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:14px;
        cursor: pointer;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
        font-weight:600;
        z-index:10;
    }
    .nav_wrap li{
        margin-right:80px;
    }
    .nav_wrap li:last-child{
        margin-right:80px;
    }
    .big{
        font-size:0.9rem;
    }
    .small{
        font-size:0.7rem;
    }
    .title{
        margin:20px 0 40px 0;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    .title > p{
        font-size:0.8rem;
        color:#b1b1b1;
        
    }
    .title_big{
        font-size:2rem;
    }
    .title_small{
        font-size:1.2rem;
        font-weight:600;
    }
    .title_icon{
        font-size:1.2rem;
    }
    /* s1 */
    .s1{
        margin-top:50px;
    }
    .s1 .container{
        display: flex;
    }
    .intro_img{
        position: relative;
        width:400px;
    }
    .hello_img{
        position: absolute;
        top:15%;
        right:1%;
        width:100px;
        height:40px;
    }
    .intro_text{
        width:100%;
        position:relative;
        background-color: #87a380;
        padding:15px 0 15px 40px;
        z-index: -1;
    }

    .intro_text .title{
        color:white;
    }
    .text{
        display: flex;
    }
    .text li{
        margin:0 90px 15px 0;
        color:white;
        font-size: 0.9rem;
    }

    /* s2 */
    .portfolio_wrap{
        position: relative;
        padding:0 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .portfolio_wrap:after{
        content:'';
        width:3px;
        height:90%;
        position: absolute;
        top:20px;
        left:50%;
        margin-left:-1.5px;
        background-color: gray;
    }
    
    
    
    
    .portfolio_list{
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
        margin-bottom:30px;
        position: relative;
        width:45%;
        margin:0 2.5% 30px 2.5%;
        justify-content: space-between;
        z-index:3;
        filter:grayscale(100);
        transition-duration: 0.2s;
    }
    .portfolio_list:after{
        content:'';
        width:8px;
        height:8px;
        border-radius:5px;
        background-color: gray;
        position: absolute;
        top:50%;
        margin-top:-6px;
        right:-6.5%;
        margin-left:-2.5px;
        z-index: 3;
        
    }
    .portfolio_list:hover{
        filter:grayscale(0);
    }
    .portfolio_list:hover:after{
        background-color:#87a380;
        box-shadow:0 0 3px 1px #87a380 ;
    }
    .portfolio_list:nth-child(2n):after{
        left:-5.6%;
    }
    .portfolio_list:before{
        position: absolute;
        content:'';
        background-image: url(../img/tri.png);
        background-size: cover;
        width:30px;
        height:25px;
        right:-5%;
        top:50%;
        z-index:-1;
        margin-top:-15px;       
    }
    .portfolio_list:nth-child(2n):before{
        position: absolute;
        content:'';
        background-image: url(../img/tri_2.png);
        background-size: cover;
        width:30px;
        height:25px;
        left:-5%;
        top:50%;
        z-index:-1;
        margin-top:-15px;       
    }
    .portfolio_list:nth-child(2n){
        position: relative;
        top:50px;
    }
    .portfolio_text{
        padding:15px;
    }
    .portfolio_text_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .portfolio_text_top li{
        font-size:0.8rem;
        color:#c9c9c9;
        margin-right:5px;
    }

    .stack_list{
        display: flex;
    }
    .portfolio_text_bottom{
        margin-top:15px;
        font-size:0.9rem;
    }
    /* s3 */
    .persnality_wrap{
        padding:0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .persnality_wrap li{
        width:48.454%;
        margin:15px 1.546% 15px 0;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
        box-sizing: border-box;
        padding:3.092%;
    }
    
    .persnality_wrap li:nth-child(2n){
        margin-right:0;
    }
    .persnality_title{
        display: inline-block;
        position: relative;
        margin-bottom:30px;
    }
    .persnality_title:after{
        content:'';
        position: absolute;
        bottom:-15px;
        left:0;
        width:30px;
        height:3px;
        background-color: #a1c698;
        transition-duration: 0.5s;
    }
    .persnality_wrap li:hover >.persnality_title:after{
        width:100%;
    }
    .persnality_text{
        font-size:0.9rem;
        color:#b1b1b1;
    }
    /* s4 */
    .skill_wrap{
        padding:50px 12%;
        margin:0 auto;
        width:76%;
        display: flex;
        align-items: center;
    }
    .skill_name_wrap{
        margin-right:10vw;
    }
    .skill_name_wrap .skill_name{
        margin-bottom:20px;
        font-size:2rem;
    }
    .skill_name_wrap .skill_name:last-child{
        margin-bottom:0;
    }

    .skill_bar_wrap .color_bar{
        position: relative;
        margin-bottom:35px;
        height:30px;
        background-color:#a1c698;
    }
    .skill_bar_wrap .color_bar:last-child{
        margin-bottom:0;
    }
    .color_bar::before{
        content:'';
        position: absolute;
        top:0;
        left:0;
        background-color: #e0f6da;
        width:400px;
        height:30px;
        z-index:-1
    }
    .html_bar_active{animation: html 1s forwards;}
    .css_bar_active{animation: css 1s forwards;}
    .javascript_bar_active{animation: javascript 1s forwards;}
    .jquery_bar_active{animation: jquery 1s forwards;}
    .ps_bar_active{animation: ps 1s forwards;}
    .ai_bar_active{animation: ai 1s forwards;}

    @keyframes html {
        0%{width:0;}
        100%{width:380px;}
    }
    @keyframes css {
        0%{width:0;}
        100%{width:380px;}
    }
    @keyframes jquery {
        0%{width:0;}
        100%{width:300px;}
    }
    @keyframes javascript {
        0%{width:0;}
        100%{width:180px;}
    }
    @keyframes ps {
        0%{width:0;}
        100%{width:250px;}
    }
    @keyframes ai {
        0%{width:0;}
        100%{width:250px;}
    }

    /* footer */
    .letter_wrap{
        padding:15px;
    }
    .letter_img{
        position: relative;
        top:0;
        width:130px;
        height:80px;
        margin:0 auto;
        animation:letter 2s infinite;
        animation-timing-function:ease-in-out;
        cursor: pointer;
    }
    @keyframes letter{
        0%{top:0px;}
        25%{top:10px;}
        50%{top:0px;}
        75%{top:10px;}
        100%{top:0px;}
        
    }
    .letter_text{
        margin-top:40px;
        text-align: center;
    }
    .act_letter{
       position: fixed;
       top:0; 
       width:100%;
       height:100vh;
       justify-content: center;
       background-color: rgba(0,0,0,0.9);
       z-index:15;
       display: none;
    }
    .letter_act{
        display:flex ;
    }
    .act_letter > img{
        width:400px;
        height:250px;
        position: absolute;
        top:30%;
    }
    .letter_close{
        position: absolute;
        top:50px;
        right:0;
        width:35px;
        height:35px;
        background-color: gray;
    }















}