@media all and (min-width:769px) and (max-width:1399px){

    /* 모바일 none */
.m_menu_wrap{display: none;}
header .btn{width:30px;height:30px;position: absolute;top:20px;right:20px; display: none;}
.mob_fix_menu{display: none;}
    /* travel s1 영역 */

#t_s1{height:837px;}
#t_s1 .bg{background: url(../../img/travel_bg.jpg) no-repeat center;background-size: cover; width:100%;height:100%;}
#t_s1 .bg .title{width:850px;height:300px;position: absolute; bottom:50px;left:50px;/* background-color: green; */}
#t_s1 .bg .title h3{font-size:3rem; letter-spacing: -3px; color:white;}
#t_s1 .bg .title h3:last-child{color:gray;}


/* s2 영역 */

#t_s2{/* background-color: blueviolet; */ height:550px; margin:100px 0;}
#t_s2 .container{width:960px;height:550px; /* background-color: gray; */ margin:0 auto;}
#t_s2 .container .slide_container{width:860px; margin:0 auto;/* background-color: chocolate; */overflow: hidden;position: relative;}

#t_s2 .container .title_wrap{width:200px; height:100px;}
#t_s2 .container .title_wrap h3{width:960px;font-size:2rem; border-bottom:3px solid black; margin-bottom:5px;height:50px;}
#t_s2 .container .title_wrap p{font-size:1rem;}

#t_s2 .container .slide_container .data{/* background-color: brown; */ display: flex; justify-content: space-between; width:2650px; height:400px;position: relative;}
#t_s2 .container .slide_container .data li{margin-right:50px;position: relative;}
#t_s2 .container .slide_container .data li:last-child{margin-right:0;}
#t_s2 .container .slide_container .data li a:after{content: '';display: block;width:100%;height:100%;position: absolute;top:0;z-index: 5;}
#t_s2 .container .slide_container .data li .img{width:400px;height:400px;}

#t_s2 .container .slide_container .meta_data_wrap{background-color:rgba(0,0,0,0.7); width:400px; height:400px;position:absolute; top:0; left:0;opacity: 0; color:white; transition-duration: 0.3s;}
#t_s2 .container .slide_container .meta_data_wrap .meta_data{text-align: center; position: relative;top:50%;margin-top:-100px;padding:0 20px;}
#t_s2 .container .slide_container .meta_data_wrap .meta_data h3{margin:20px 0;color:#9c6a27}
#t_s2 .container .slide_container .meta_data_wrap .meta_data p{margin-bottom:20px;}

#t_s2 .container .btn{width:50px; height:50px;position: absolute; top:50%; margin-top:-25px;}
#t_s2 .container .btn img{width:50%;height:50%; margin-top:12.5px; margin-left:12.5px;position: relative;z-index:3;}
#t_s2 .container .btn .white{width:50%;height:50%; margin-top:12.5px; margin-left:12.5px;position: absolute; top:0;z-index:3;}
#t_s2 .container .btn .circle{width:50px; height:50px;background-color:rgba(0,0,0,0.1); border-radius: 50%;position: absolute;top:0; transform: scale(0); transition-duration:0.2s;}
#t_s2 .container #right{right:0;}
#t_s2 .container #left{left:0;}
    /* 호버 */
#t_s2 .container .slide_container .data li a:hover~.meta_data_wrap{opacity: 1;}
#t_s2 .container .btn:hover > .circle{transform: scale(1);}



/* s3 영역 */

#t_s3{height:620px;/*  background-color: crimson; */}
#t_s3 .container{width:960px; height:620px; margin:0 auto; /* background-color: gray; */}
#t_s3 .container .title_wrap{width:100%; height:100px;}
#t_s3 .container .title_wrap h3{font-size:2rem;width:960px; border-bottom:3px solid black; margin-bottom:5px;height:50px;}
#t_s3 .container .title_wrap p{width:100%;font-size:1rem;}

#t_s3 .container .flex_wrap{width:92.857%;padding:0 50px; height:500px; /* background-color: cyan;  */display: flex; flex-wrap: wrap;}
#t_s3 .container .flex_wrap li{width:28.571%; height:225px;margin-right:50px;/* background-color: darkblue; */position: relative; box-shadow:0px 5px 5px 0px rgba(0,0,0,0.8);}
#t_s3 .container .flex_wrap li:nth-child(3){margin-right:0;}
#t_s3 .container .flex_wrap li a .data_wrap{width:28.571%;height:225px;position:absolute;top:0;}
#t_s3 .container .flex_wrap li a .img{width:100%;height:100%;}

#t_s3 .container .flex_wrap li a .data_wrap {width:100%;height:200px;height:225px;}
#t_s3 .container .flex_wrap li a .data_wrap .top{width:100%;height:0px;background-color: rgba(0,0,0,0.7);color:white;transition-duration: 0.3s;overflow: hidden;}
#t_s3 .container .flex_wrap li a .data_wrap .top p{font-size:1.2rem;font-weight: 900;line-height: 50px; text-align: center;} 
#t_s3 .container .flex_wrap li a .data_wrap .bottom{width:100%;height:0px;background-color:rgba(0,0,0,0.7);position: absolute; left:0;bottom:0px;color:white;text-align: center; transition-duration: 0.3s;overflow: hidden;}
#t_s3 .container .flex_wrap li a .data_wrap .bottom .data{width:180px;height:60px;/* background-color: goldenrod; */margin:10px auto 0 auto;}
#t_s3 .container .flex_wrap li a .data_wrap .bottom .data h3{margin-bottom:10px;}
    /* 호버 */
#t_s3 .container .flex_wrap li a:hover > .data_wrap .top{height:50px;}
#t_s3 .container .flex_wrap li a:hover > .data_wrap .bottom{height:60px;}

/* s4 영역 */

#t_s4{height:auto;padding:50px 0 20px 0; /* background-color: goldenrod; */}
#t_s4 .container{width:960px; height:auto;/* background-color: gray;  */margin:0 auto;}
#t_s4 .container .title_wrap{width:100%; height:100px;}
#t_s4 .container .title_wrap h3{font-size:2rem; border-bottom:3px solid black;width:960px; margin-bottom:5px;height:50px;}
#t_s4 .container .title_wrap p{font-size:1em;}

#t_s4 .container .flex_wrap{width:92.857%; height:480px; padding:0 50px; /* background-color: cyan; */ display: flex; flex-wrap: wrap; overflow: hidden;}
#t_s4 .container .flex_wrap li{width:28.571%; height:225px;margin-right:50px;/* background-color: darkblue; */position: relative;margin-bottom:25px; box-shadow:0px 5px 5px 0px rgba(0,0,0,0.8);}
#t_s4 .container .flex_wrap li:nth-child(3n){margin-right:0;}
#t_s4 .container .flex_wrap li .data_wrap{width:100%;height:225px;position:absolute;top:0;background-color:rgba(0,0,0,0.7);opacity:0; transition-duration: 0.5s;}
#t_s4 .container .flex_wrap li .img{width:100%;height:100%;}
#t_s4 .container .flex_wrap li .data_wrap .data{text-align: center; position: relative;top:50%;margin-top:-80.5px;padding:0 20px;color:white;}
#t_s4 .container .flex_wrap li .data_wrap .data h3{margin:20px 0;color:#9c6a27}
#t_s4 .container .flex_wrap li .data_wrap .data p{margin-bottom:20px;}
#t_s4 .container .flex_wrap li a:after{content: '';display: block;width:100%;height:100%;position: absolute;top:0;z-index: 5;}
#t_s4 .container .btn{width:120px;height:50px;padding:0 30px; border-radius: 20px;background-color:#999; display: flex; justify-content: space-between; margin:25px auto 0 auto;align-items: center; }
#t_s4 .container .btn  h3{color:white;}
#t_s4 .container .btn > .img{width:17px;height:17px; transition-duration: 0.3s;}
/* addclass */
#t_s4 .container .close{display: none;}

    /* 호버 */
#t_s4 .container .flex_wrap li a:hover ~ .data_wrap{opacity: 1;}
#t_s4 .container .btn:hover > .img{transform: rotate(180deg);}
}