
@media all and (min-width:1400px){
#wrap{
    position: relative;
    top:0;
}
header,section,footer{
    width:100%;
    position: relative;
    top:0;
    left:0;
}
.container{ height:auto;position: relative;top:0; margin:0 auto;}

header{
    margin-top:20px;
}
.nav_bar{
    width:98%;
    height:100px;
    display:flex;
    justify-content: space-between;
    background-color:white;
    border-radius:30px;
    margin:0 1%;
    position: fixed;
    z-index:200;
}
.nav_pay{
    margin-right:50px;
    width:110px;
    height:100px;
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width:154px;
    height:54px;
    margin:23px 200px 23px 23px;
}.header_logo img{
    width:100%;
    height:100%;
}
.menu_wrap{
    width:600px;
    display:flex;
    justify-content: space-between;
    /* background-color: thistle; */
    font-size: 15px;
}
.menu_wrap > li{
    width:20%;
    height:100px;
    /* background-color: yellow; */
}
.menu_wrap > li >h3{
    line-height: 100px;
    text-align: center;
}
.menu_wrap .about_us h3::before {
    position: absolute;
    top:45px;
    left:660px;
    content:'';
    height:15px;
    width:1px;
    background-color: #595959;
    
}
.menu_con{
    position: absolute;
    left:0;
    top:100px;
    width:60%;
    height:0;
    overflow: hidden;
    background-color:white;
    display:flex;
    justify-content: space-between;
    padding:0 20%;
    border-top:1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.menu_con li{
    width:25%;
    border-right:1px solid black;
    height:100%;
}
.menu_con_event{
    justify-content: left;
}
.menu_con_head h3{
    color:black;
}

.menu_con_head a{
    display:flex;
    justify-content: space-between;
    margin-left:10px;
}
.menu_con_head a h3{
    margin:10px 0;
}
.menu_arrow{
    width:30px;
    height:20px;
    margin-top:15px;
    margin-right:15px;
}
.menu_arrow img{
    width:100%;
    height:100%;
}
.menu_brand_data a{
    margin-left:20px;
    font-weight: 900;
    color:#595959;
}

.about_us:hover > .menu_con{
    height:200px;
    padding-bottom:50px;
}
.shop:hover > .menu_con{
    height:200px;
    padding-bottom:50px;
}
.event:hover > .menu_con{
    height:200px;
    padding-bottom:50px;
}
.CS_center:hover > .menu_con{
    height:200px;
    padding-bottom:50px;
}
.member{
    width:600px;
    display: flex;
    justify-content: space-between;
    margin-top:25px;
    /* background-color: orchid; */
}
.cart_img,.mypage_img{
    width:50px;
    height:50px;
    background-color: #ff4c00;
    border-radius: 50%;
    position: relative;
    top:0;
    left:0;
}
.cart_img a img,.mypage_img a img{
    position: absolute;
    width:30px;
    height:30px;
    top:50%;
    margin-top:-15px;
    left:50%;
    margin-left:-15px;
}
.cart,.mypage{
    position: relative;
}
.cart span,.mypage span{
    position: absolute;
    left:0;
    top:0;
    text-align: center;
    font-size:0.8rem;
    letter-spacing:-3px;
    opacity:1;
    font-weight: 900;
    width:50px;
    height:50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
}
.nav_color{
    color:white;
}
.nav_pay_hover:hover{
    opacity: 0;
}
.login{
    width:150px;
    height:50px;
    border:2px solid #ff4c00;
    border-radius:50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}
.login a{
    display:flex;
    justify-content: space-between;
    padding:0 15px;
    color:#ff4c00;
}
.login_img{
    width:15px;
    height:15px;

}
.login_img img{
    width:100%;
    height:100%;
}
.search{
    margin-top:20px;
    
}
#search{
    border:0;
    border-bottom:1px solid #ff4c00;
    color:#595959;
    font-size:0.9rem;
}
/* header end */

.section_ad{
    width:auto;
    height:auto;
    position: fixed;
    left:10px;
    top:810px;
    z-index:150;
}
.ad_present{
    background: url(../img/present_ad.png) no-repeat center;
    background-size:contain;
    width:150px;
    height:150px;
    bottom:10px;
    position: fixed;
}
.section_ad:hover a>.ad_present{
    background: url(../img/present_ad_hover.png) no-repeat center;
    background-size:contain;
    width:600px;
    height:400px;
    bottom:10px;
}


/* section_ad end */

.section_1{
    width:100%;
    height:750px;
    padding-top:100px;
}
.slide_wrap{
    width:99%;
    height:100%;
    margin:0 10px;
    position: relative;
    top:0;
    left:0;
    
}
.slide_nb{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.slide_nb:nth-child(2),.slide_nb:nth-child(3),.slide_nb:nth-child(4){
    display:none;
}
.section_1_slide_btn{
    display:none;
}
.nb1_bg{
    background: url(../img/main.jpg) no-repeat center;
    background-size: cover;
    height:100%;
    width:100%;
    border-radius:20px;
    position: relative;
    top:0;
    left:0;

}
.nb2_bg{
    background-color:#f7eee8;
    height:100%;
    width:100%;
    border-radius:20px;
    position: relative;
    top:0;
    left:0;
}
.nb_po{
    position: absolute;  
}
.nb_img_1{
    top:50%;
    margin-top:-250px;
    left:940px;
    z-index: 97;
}
.nb_img_2{
    top:50%;
    margin-top:-275px;
    left:780px;
}

.nb2_img_3{
    top:535px;
    right:230px;

}
.nb2_img_4{
    top:440px;
    right:230px;
}
.nb2_img_5{
    top:310px;
    right:330px;
}
.nb2_img_6{
    top:510px;
    right:220px;
}


/* nb2 end */
.nb3_bg{
    background-color:#f1eff6;
    height:100%;
    width:100%;
    border-radius:20px;
    position: relative;
    top:0;
    left:0;
   
}
.nb3_img_3{
    top:340px;
    left:1490px;
}
.nb3_img_4{
    top:510px;
    left:1490px;
}
.nb3_img_5{
    top:430px;
    left:1540px;
}
.nb3_img_6{
    top:470px;
    left:1620px;
}

/* nb3 end */
.nb4_bg{
    background-color:#fdf4fa;
    height:100%;
    width:100%;
    border-radius:20px;
    position: relative;
    top:0;
    left:0;
}
.nb4_img_3{
    top:280px;
    left:1490px;
}
.nb4_img_4{
    top:470px;
    left:1460px;
}
.nb4_img_5{
    top:470px;
    left:1610px;
}
.inner_con{
    width:700px;
    height:400px;
    position: absolute;
    top:50%;
    margin-top:-250px;
    left:250px;
    padding:50px;
}
.inner_con span{
    font-size: 4.5rem;
    margin-bottom:10px;
    font-weight:100;
    
    display:block;

}
.inner_con > p{
    color:#ff4c00;
    font-weight: 900;
    margin-top:50px;
}
.inner_con h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top:10px;

}
.inner_btn a {
    display:flex;
    justify-content: space-between;
    padding:0 50px;
    width:140px;
    height:80px;
    border-radius: 50px;
    background-color: white;
    color:black;
    line-height:80px;
    text-align: center;
    margin-top:50px;
    transition-duration: 0.5s;
}
.inner_arrow{
    background: url(../img/inner_arrow.png) no-repeat center;
    background-size:contain;
    width:20px;
    height:10px;
    position: relative;
    top:50%;
    margin-top:-5px
}
.inner_arrow_hover{
    background: url(../img/inner_arrow_hover.png) no-repeat center;
    background-size:contain;
    width:20px;
    height:10px;
    position: relative;
    top:50%;
    margin-top:-5px;
}
.inner_btn a:hover{
    background-color:#ff4c00 ;
    color:white;
}
.slide_btn{
    width:20px;
    height:auto;
    /* background-color: orchid; */
    position: absolute;
    top:50%;
    margin-top:-100px;
    right:200px;
    cursor: pointer;


}

.slide_btn li{
    font-weight:900;
    color:#bebebe;
    margin-bottom:50px;
}
.slide_btn > .slide_btn_color{
    color:#ff4c00;
}
.slide_arrow{
    width:100px;
    height:500px;
    position:absolute;
    top:50%;
    margin-top:-200px;
    
}
.slide_arrow img{
    width:100%;
    height:100%;
    transition-duration: 0.5s;
}
.slide_right{
    right:0;
}
.slide_right::after{
    content:'>';
    display:block;
    width:20px;
    height:20px;
    font-size: 3rem;
    position: absolute;
    top:200px;
    right:30px;
}
.slide_left::after{
    content:'<';
    display:block;
    width:20px;
    height:20px;
    font-size: 3rem;
    position: absolute;
    top:200px;
    left:30px;
   
}
.slide_left{
    left:0;
}
.slide_right img:hover >.slide_right::before{
    right:50px;
}
.slide_arrow{
    transition-duration: 0.1s;
}
.slide_arrow:hover{
    transform: scaleX(1.3) scaleY(1.2);
}

/* section_1 end */

.section_2{
    width:100%;
    height:180px;
    padding:30px 0;
}
.section_2 .container{
    width:80%;
    height:180px;
    margin:0 auto;
    border-radius: 100px;
    background-color: #f7f7f7;
}
.realtime_title{
    display:flex;
    width:100%;
    /* background-color: greenyellow; */
    justify-content: flex-end;
    padding-top:25px;
    position: relative;
    top:0;
    
}
.realtime_title h3{
    margin-right:650px;
    font-size: 1.5rem;
}
.realtime_time{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:25px;
    right:100px;
    background-color: white;
    width:110px;
    height:30px;
    border-radius: 100px;
    padding:0 10px;
    font-size: 0.9rem;
    letter-spacing: -2px;
    text-align: center;
    line-height: 25px;
}
.realtime_time_img{
    width:25px;
    height:25px;
    margin-top:2px;
}
.realtime_time_img img{
    width:100%;
    height:100%;
}
.realtime_best{
    display:flex;
    justify-content: space-between;
    margin:50px auto 0 auto;
    width:85%;
    font-size:1rem;
}
.realtime_best div{
    border-bottom:1px solid black;
    padding-bottom:10px;
    width:30%;
}
.realtime_best b{
    color:#ff4c00;
    font-size: 1.5rem;
    position: relative;
    top:3px;
    left:0;
    margin-right:10px;
}
/* section_2 end */

.section_3{
    height:auto;
    background-color: aqua;
}
.section_3 .container{
    background-color:#f7f7f7 ;
    height:100%;
}
.section_3_title{
    width:800px;
    height:400px;
    /* background-color: bisque; */
    margin:0 auto;
    padding-top:100px;
}
.section_3_title h3{
    margin:0 auto;
    font-size: 2.5rem;
    text-align: center;
    
}
.section_3_title > p{
    font-size: 1.45rem;
    text-align: center;
    letter-spacing: -1px;
}

.section_3_data_wrap{
    display: flex;
    justify-content: space-between;
    width:500px;
    margin:30px auto;
    
    /* background-color: brown; */
    
} 
.section_3_data_wrap li{
    margin-top:20px;
}
.section_3_data_wrap li:first-child{
    margin-top:0;
}
.section_3_data_wrap li a{
    font-weight: 900;
    color:#595959;
    
       
}
.section_3_data_wrap li a span{
    font-weight: 100;
    font-size: 0.8rem;
    letter-spacing: -1px;
}
.section_3_data_wrap li a:hover{
    color:#ff4c00;
}

.section_3_btn span{
    line-height:60px;
}
.section_3_btn{
    position: relative;
    top:0;
    z-index: 99;
    display:flex;
    width:150px;
    justify-content: space-between;
    padding:0 25px;
    height:60px;
    background-color: white;
    border-radius:100px;
    cursor: pointer;
}
.section_3_btn_img{
    margin-top:7px;
}
.section_3_btn_con{
    position: relative;
    top:0;
    z-index: 98;
    width:110px;
    background-color: white;
    height:0;
    margin-top:-26px;
    padding:0 65px 0 25px;
    font-size: 0.9rem;
    overflow: hidden;
    cursor: pointer;
}
.section_3_btn_con li:first-child{
    margin-top:30px;
}
.section_3_product{
    width:1300px;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    flex-wrap: wrap;
    /* background-color: green; */
    
    
}
.product_list{
    /* background-color: red; */
    margin-right:25px;
    margin-top:240px;
}
.product_list_none{
    display:none;
}
.product_list:nth-child(1),.product_list:nth-child(2),
.product_list:nth-child(3),.product_list:nth-child(4){
    margin-top:0;
}
.product_list:last-child{
    margin-right:0;
}
.product_item{
    width:250px;
    height:550px;
    background-color:#fcf1ef;
    border-radius: 50px;
    position: relative;
    top:0;
    left:0;
    padding:0 20px;
    cursor: pointer;
    
}
.product_item:hover > .product_list_img{
    animation-name: shake;
    animation-duration: 0.4s;
}
@keyframes shake{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(2deg);}
    40%{transform: rotate(-2deg);}
    60%{transform: rotate(2deg);}
    80%{transform: rotate(-2deg);}
    100%{transform: rotate(0deg);}
}
.product_item:hover >.product_item_inner > span{
    background-color:#fad9d3;
    border-radius: 10px;
    width:260px;
    height:50px;
}
.product_item:hover >.product_item_inner > .hover{
    color:#ff4c00;
}
.product_item:hover>.circle{
    transform:scale(5);
}

.product_list_img{
    position: absolute;
    left:50px;
    top:-100px;
    z-index:97;
}
.circle{
    border-radius:50%;
    width:50px;
    height:50px;
    background-color: #ff4c00;
    margin-left:100px;
    transition-duration: 0.2s;
}
.product_item_inner{    
    width:70%;
    height:200px;
    padding:0 20px;
    /* background-color: royalblue; */
    position: absolute;
    margin-top:150px;
    left:0px;
}
.product_item_inner b{
    color:#ff4c00;
}
.product_item_inner p{
    width:260px;
    font-size: 1.1rem;
    letter-spacing: -2px;
    margin-top:5px;
}
.product_item_inner  span{
    border-radius: 10px;
    transition-duration: 1s;
    position: absolute;
    z-index:98;
    width:0;
    top:75px;
    left:20px;

}
.product_item_inner > .hover{
    position: absolute;
    top:70px;
    left:20px;
    font-size: 1rem;
    padding:5px;
    z-index:99;
    
}

.product_item_inner  > .price{
    position: absolute;
    bottom:10px;
    font-size: 2rem;
}
.product_item_inner  > .price span{
    position: absolute;
    color:#595959;
    top:20px;
    left:125px;
    font-size:1rem;
    text-decoration: line-through ;
    width:50px;
   
}
.product_buy { 
    display: flex;
    position:absolute;
    bottom:20px;
    left:20px;
}
.product_buy > div{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: white;
    display:flex;
    text-align:center;
    line-height:50px;
    overflow: hidden;
    letter-spacing: -1px;
    font-weight: 900;
    transition-duration: 0.5s;
    margin-right:10px;
}
.product_cart_btn span,.product_buy_btn span{
    margin-left:10px;
}
.product_cart_bg div:first-child{
    background: url(../img/cart.png);
    background-size:contain;
    width:30px;
    height:30px;
    opacity:1;
    margin:10px 0 0 10px;
    
}
.product_cart_bg div:last-child{
    background: url(../img/cart_hover.png);
    background-size:contain;
    position: absolute;
    top:0;
    width:30px;
    height:30px;
    opacity: 0;
    margin:10px 0 0 10px;
    transition-duration: 0.5s;
}
.product_buy_bg div:first-child{
    background: url(../img/buy.png);
    background-size:contain;
    width:30px;
    height:30px;
    opacity:1;
    margin:10px 0 0 10px;
    
}
.product_buy_bg div:last-child{
    background: url(../img/buy_hover.png);
    background-size:contain;
    position: absolute;
    top:0;
    width:30px;
    height:30px;
    opacity: 0;
    margin:10px 0 0 10px;
    transition-duration: 0.5s;
}
.product_cart_btn:hover>.product_cart_bg div:last-child{
    opacity: 1;
}
.product_buy_btn:hover>.product_buy_bg div:last-child{
    opacity: 1;
}
.product_cart_btn:hover,.product_buy_btn:hover{
    width:100px;
    background-color: #ff4c00;
    color:white;
    border-radius: 50px;
}
.star{
    position: absolute;
    bottom:130px;
    letter-spacing: -4px;
    margin-left:5px;
    
}
.star img:nth-child(even){
    display:none;
}
.point{
    position: absolute;
    top:2px;
    left:70px;
    font-weight: 900;
    color:#a7a7a6;
}
.present{
    width:100px;
    height:100px;
    background-color: #ff4c00;
    position: absolute;
    bottom:0;
    right:0;
    border-radius:20px;
    transition-duration:1s;
}
.present:hover > .present_hover{
    display:block;
}
.present img{
    width:40px;
    height:40px;
    margin:30px 30px;
    
}
.present_hover{
    width:100px;
    height:100px;
    background-color:white;
    border:2px solid #ff4c00;
    border-radius: 20px;
    position: absolute;
    top:0;
    left:0;
    color:#ff4c00;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    display: none;
}
.more{
    width:200px;
    height:auto;
    margin:0 auto;
    font-size:0.8rem;
    color:#a7a7a6;
    padding:80px 0;
}
.more_data{
    width:100%;
    height:auto;
    display:flex;
    justify-content: space-between;
    padding-bottom:10px;
   
    border-bottom:1px solid #595959;
}
.more_img img{
    transition-duration:0.5s;
}
.more_data:hover >.more_img img{
    transform: rotate(180deg);
}
/* section_3 end */
.section_4{
    height:auto;
    padding:100px 0;
}
.section_4 > .container{
    width:1100px;
    height:auto;
    margin:0 auto;
    /* background-color: green; */
    background-color: white;
    position: relative;
    top:0;
    left:0;
    overflow: hidden;
}
.new_box{
    width:50px;
    height:50px;
    background-color: #ff4c00;
    padding:20px 20px;
    color:white;
    position:absolute;
    top:-10px;
    left:40px  ;
    text-align: center;
    line-height:50px;
    border-radius:20px;
    font-weight: 900;
}
.np_title{
    width:400px;
    height:auto;
    margin:0 auto;
    text-align:center;
    padding-bottom:30px;
}
.np_title > h3{
    font-size:3rem;
}
.np_title > p{
    font-size:1.5rem;
    font-weight: 100;
}
.np_slide_wrap{
    width:3300px;
    display:flex;
    position: relative;
    /* background-color: red; */
    
}
.np_slide_1,.np_slide_2,.np_slide_3{
    width:1000px;
    height:400px;
    /* background-color: yellow; */
    padding:0 50px;
    position:relative;
    top:0;
    left:0;
}

.np_img{
    padding:50px;
    background-color:#fcf1ef;
    border-radius: 50px;
}
.np_outbox{
    display: flex;
}
.np_outbox_btn{
    position: absolute;
    width:50px;
    justify-content: space-between;
    display:flex;
    top:110px;
    right:20px;
    color:#bebebe;
    font-size:2rem;
    font-weight:100;
    margin-left:10px;
    z-index:100;
    cursor: pointer;
}
.np_outbox_btn li{
    margin-right:10px;
}
.np_outbox_btn_color{
    color:black;
}



.np_ct_nb{
    padding-left:500px;
}
.np_ct_nb > span{
    font-size:2rem;
    color:black;
    margin-left:20px;
}
.np_ct_cb{
    width:100%;
    margin-top:30px;
    margin-left:50px;
    height:300px;
    position:relative;
    /* background-color: green; */
    top:0;
    left:0;
    border-top:1px solid #bebebe;   
    border-bottom:1px solid #bebebe;
}
.np_ct_cb b{
    font-size:0.9rem;
    color:#ff4c00;
    position: absolute;
    top:10px;
    left:0;
}
.np_ct_cb h3{
    font-size:1.5rem;
    position: absolute;
    top:40px;
    left:0;
  
}
.np_ct_cb> p{
    font-size:1rem;
    color:#a7a7a6;
    letter-spacing: -1px;
    position: absolute;
    top:75px;
    left:0;
 
}
.np_ct_cb >.delivery{
    font-size:1rem;
    position: absolute;
    top:105px;
    left:0;
    font-weight: 900;
    animation:color 1s infinite;
}
@keyframes color{
    0%{color:#2196f3;}
    50%{color:white;}
    100%{color:#2196f3;}
}
.np_ct_cb > span{
    position:absolute;
}
.np_ct_cb_discount{
    top:130px;
    font-size:1.6rem;
    font-weight:900
}
.np_ct_cb_price{
    top:140px;
    left:110px;
    text-decoration: line-through;
    color:#a7a7a6;
}
.np_ct_cb_percent{
    top:130px;
    left:180px;
    font-size:1.6rem;
    font-weight:900;
    color:#ff4c00;
}
.np_ct_cb_star{
    position: absolute;
    top:170px;
    letter-spacing: -4px;
}
.np_ct_cb_star img:nth-child(even){
    display:none;
}
.np_ct_cb_star span{
    margin-left:5px;
    margin-top:2px;
    color:#a7a7a6;
}
.np_paybox{
    display:flex;
    justify-content: space-between;
    width:600px;
    height:50px;
    /* background-color: green; */
    position: relative;
    top:220px;
    height:50px;
}
.np_pay{
    display:flex;
    
}
.np_pay_img{
    width:50px;
    height:50px;
    background-color: #f1eff6;
    border-radius: 50%;
    margin-right:10px;
    cursor: pointer;
}
.np_pay_img:nth-child(3) img{
    width:25px;
    height:25px;
    padding:12.5px;
}
.np_pay_img:nth-child(3){
    background-color: #ff4c00;
    border-radius: 20px;
}
.np_pay img{
    width:30px;
    height:30px;
    padding:10px;
}
.np_shopnow{
    position: relative;
    top:0;
    font-size:1.2rem;
    color:black;
    display:flex;
    cursor: pointer;
}
.np_shopnow span{
    text-align:center;
    line-height:50px;
    
}
.np_shopnow_img_first{
    position:absolute;
    right:-30px;
    top:10px;
    cursor: pointer;
}
.np_shopnow_img_last{
    position:absolute;
    right:-30px;
    top:10px;
    display: none;
    cursor: pointer;
    
}
.np_shopnow:hover > .np_shopnow_img_first{
    display:none;
}
.np_shopnow:hover > .np_shopnow_img_last{
    display:block;
}
.np_shopnow:hover > .border_bottom_last{
    width:140px;
}
.border_bottom_last{
    width:0;
    height:3px;
    background-color: #ff4c00;
    position:absolute;
    bottom:0;
    left:-5px;
    transition-duration: 0.5s;
}
.border_bottom_first{
    width:140px;
    height:3px;
    background-color: #bebebe;
    position: absolute;
    bottom:0;
    right:0;
}
.slidearrow_cicle{
    position:absolute;
    top:0;
    left:0;
    border-radius:50px;
    background-color: #f1eff6;
    width:60px;
    height:60px;
    z-index:90;
    transform:scale(0);
    transition-duration: 0.5s;
}
.slidearrow{
    position: absolute;
    z-index:99;
    cursor: pointer;
}
.slidearrow:hover > .slidearrow_cicle{
    transform:scale(1);
}
.saright{
    top:50%;
    right:5px;
}
.saright img{
    position: relative;
    top:0;
    width:8px;
    height:13px;
    margin:25px 25px;
    z-index: 99;
    
}
.saleft img{
    position: relative;
    top:0;
    width:8px;
    height:13px;
    margin:25px 25px;
    z-index: 99;
}
.saleft{
    top:50%;
    left:0;
}

/* section_4 end */

.section_5{
    width:98%;
    margin:0 auto;
    height:auto;
    background-color: #faf8f2;
    border-radius:10px;
}
.section_5 > .container{
    width:1500px;
    margin:0 auto;
    background-color: #faf8f2;
}
.section_5_title h3{
    font-weight: 900;
    text-align: center;
    font-size:3rem;
}
.section_5_title p{
    text-align: center;
    font-size:1.5rem;
    font-weight: 100;
}
.section_5_linebar{
    display:flex;
    justify-content: center;
    width:100%;
    position: relative;
    top:0;
    left:0;
    /* background-color: yellow; */
}
.section_5_linebar li{
    margin-top:100px;
    width:26%;
    text-align: center;
    position: relative;
    font-weight: 900;
    color:#bebebe;
    top:0;
  
    
}
.section_5_linebar li:before{
    width:12px;
    height:12px;
    content:'';
    display:block;
    border-radius: 50%;
    background-color: #ff4c00;
    position: relative;
    top:-20px;
    left:0;
    margin:0 200px;
}
.section_5_linebar li:after{
    width:380px;
    height:1px;
    content:'';
    display:block;
    background-color: #bebebe;
    position: absolute;
    top:-15px;
    left:212px;
}
.section_5_linebar li:last-child:after{
    display:none;
}
.section_5_items{
    width:100%;
    height:500px;
    /* background-color: teal; */
    display:flex;
    justify-content: space-between;
    cursor: pointer;
}
.section_5_items li{
    width:22%;
    height:500px;
    /* background-color: thistle; */
    position: relative;
    top:0;
    left:0;
    
}
.section_5_items_img{
    width:200px;
    height:200px;
    background-color: #f4eff6;
    border-radius: 50%;
    position:relative;
    top:50px;
    left:50%;
    margin-left:-100px;
}
.section_5_items_img img{
    width:160px;
    height:160px;
    position: absolute;
    left:50%;
    margin-left:-80px;
    
}
.section_5_items_title{
    text-align: center;
    margin-top:100px;
}
.section_5_items_price{
    text-align: center;
    margin-top:30px;
}
.section_5_items_title b{
    color:#ff4c00;
}
.section_5_items_1{
    position: relative;
    top:0;
    transition-duration: 0.5s;
}
.section_5_items_1 > .star{
    bottom:-30px;
    left:50%;
    margin-left:-36px
}
.section_5_items_1 > .star > span{
    position: absolute;
    top:2px;
    left:65px;
    color:#595959;
}

.section_5_items_price span:nth-child(1){
    font-size:1.5rem;
    font-weight:900;
}
.section_5_items_price span:nth-child(2){
    font-weight:900;   
    color:#a7a7a6;
    text-decoration: line-through;
}
.section_5_items_price span:nth-child(3){
    color:#ff4c00;
    font-size:1.4rem;
    font-weight: 900;
    margin-left:10px;
}
.section_5_hover{
    position:absolute;
    top:0;
    left:0;
    color:white;
    text-align: center;
    width:330px;
    height:330px;
    background-color:#ff4c00;
    border-radius: 50%;
    transform:scale(0);
    transition-duration: 0.5s;
}

.section_5_hover_titles{
    position: absolute;
    width:100%;
    height:150px;
    top:80px;
}
.section_5_hover_titles h3{
    font-size:1rem;
}
.section_5_hover_titles p{
    margin-top:20px;
    font-size:0.9rem;
}
.section_5_hover_star{
    position: absolute;
    letter-spacing: -4px;
    top:60%;
    left:50%;
    margin-left:-30.5px;
}
.section_5_hover_star img:nth-child(odd){
    display:none;
    
}
.section_5_pay{
    display:flex;
    position: absolute;
    bottom:50px;
    left:50%;
    margin-left:-90px;
}
.section_5_pay_img{
    width:50px;
    height:50px;
    background-color: #fc7f4a;
    border-radius: 50%;
    margin-right:10px;
}
.section_5_pay_img:nth-child(3) img{
    width:25px;
    height:25px;
    padding:12.5px;
}
.section_5_pay_img:nth-child(3){
    background-color:white;
    border-radius: 20px;
}
.section_5_pay img{
    width:30px;
    height:30px;
    padding:10px;
}
.section_5_hover_img{
    position: absolute;
    width:100px;
    height:100px;
    left:50%;
    bottom:100px;
    margin-left:-50px;
    z-index:100;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.32, 0.54, 0.27, 1.55);
    
}
.section_5_hover_img img{
    width:100%;
    height:100%;
}
.section_5_items li:hover > .section_5_items_1 {
    transform:scale(0);
}
.section_5_items li:hover > .section_5_hover{
    transform:scale(1);
}
.section_5_items li:hover > .section_5_hover > .section_5_hover_img{
    bottom:-80px;
    left:50%;
    margin-left:-50px;
}
/* section_5 end */
.section_6{
    padding:100px 0;
}
.section_6 > .container{
    width:1400px;
    background-color: white;
    display:flex;
    justify-content: center;
    margin:0 auto;
}
.section_6_con{
    width:48%;
    border-radius: 20px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    margin-right:50px;
    padding:20px;
}
.section_6_more{
    display: flex;
    position: relative;
    top:0;
    cursor: pointer;
}
.section_6_more span{
    margin-top:10px;
    font-weight: 900;
    color:#bebebe;
    letter-spacing: -1px;
    font-size:1.2rem;
}
.section_6_more_first,.section_6_more_last{
  position: absolute;
  top:12px;
  left:120px;
}
.section_6_more_last{
    display: none;
}
.border_bottom_first,.border_bottom_last{
  position: absolute;
  top:40px;
  left:0px;
}
.section_6_more:hover  >.border_bottom_last{
    width:140px;
    
}
.section_6_more:hover  > span{
    color:black;
}
.section_6_more:hover > .section_6_more_first{
    display:none;
}
.section_6_more:hover > .section_6_more_last{
    display:block;
}

/* section_6 end */

.section_7{
    height:800px;
    position: relative;
    overflow: hidden;
}
.section_7 .container{
    width:2200px;
    margin-left:250px;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
}
.section_7_title {
    display:flex;
    justify-content: space-between;
    width:1400px;
    
}
.section_7_title >div> h3{
    font-size:2.5rem;
    text-align: left;
    font-weight: 900;
}
.section_7_title >div> p{
    font-size:1.4rem;
    text-align: left;
    
}
.section_7_title>.inner_btn > a{
    margin-top:0;
}
.section_7_items_img{
    width:400px;
    height:294px;
    margin-top:50px;
    position: relative;
    top:0;
    
}
.section_7_items_img img{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.section_7_items_img b{
    color:#ff4c00;
    font-size:10rem;
    font-weight:100;
    position: absolute;
    bottom:-39px;
    left:-8px;

}
.section_7_items_img b:after{
    content:'';
    display:block; 
    background-color:black;
    width:1px;
    height:150px;
    position: absolute;
    bottom:-50px;
    left:70px;
}
.section_7_items_review{
    width:300px;
    height:150px;
    margin-left:100px;
}
.section_7_items_review > h3{
    width:300px;
    font-size:1.2rem;
    letter-spacing: -2px;
    margin:20px 0;
    text-overflow: ellipsis;    
    overflow: hidden;
    white-space: nowrap;
}
.section_7_items_review > p{
    width:100%;
    height:80px;
    font-size:0.9rem;
    color:#bebebe;
    text-overflow: ellipsis;    
    overflow: hidden;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient: vertical;
}
.section_7_items_wrap{
    display: flex;
    width:2200px;
    /* background-color: #ff4c00; */
}
.section_7_items_wrap li{
    margin-right:50px;
}.section_7_items_wrap li:last-child{
    margin-right:0;
}
.section_7_items_title{
    width:280px;
    padding:15px 10px;
    position: relative;
    top:0;
    left:100px;
    border-top:1px solid #bebebe;
    border-bottom:1px solid #bebebe;
    display: flex;
    justify-content: space-between;
}
.section_7_more > a{

    box-shadow: 0 0 20px 2px rgba(0,0,0,0.08);
}
.section_7_items_title_img{
    width:68px;
    height:68px;
    padding:10px;
    background-color: #fad9d3;
    border-radius: 20px;
    margin-top:10px;
}
.section_7_items_title_img img{
    width:100%;
    height:100%;
}
.section_7_items_title_data{
    margin-left:20px;
    font-size:0.8rem;
}
.section_7_items_title_data b{
    color:#ff4c00;
}
.section_7_items_title_data p{
    letter-spacing: -2px;
    margin-bottom:0px;
}
.section_7_items_title_data p>span{
    font-weight: 900;
    font-size:1.2rem;
    margin-right:5px;
}
.section_7_items_title_data p:nth-child(2){
    margin-bottom:0;
}
.section_7_items_title_data_star{
    bottom:40px;
}
.section_7_items_title_data_star img:nth-child(even){
    display: none;
    
}
.section_7_items_title_data_star{
    letter-spacing: -4px;
    margin:10px 0;
}
/* section_7 end */
.section_8{
    height:650px;
    margin-top:50px;
}
.section_8_banner>.container{
    display: flex;
    justify-content: space-between;
    width:1400px;
    height:650px;
    margin:0 auto;
    
  
}
.section_8_btn{
    position: absolute;
    top:150px;
    left:270px;
    z-index: 100;
    opacity: 0.8;
    
}
.section_8_btn li{
    cursor: pointer;
}

.section_8_btn_action{
    opacity:1;
    border:3px solid #ff4c00;
    box-sizing: border-box;
    border-radius:50%;
}
.section_8_banner{
    background-size:contain;
    width:98%;
    margin-left:1%;
    position: absolute;
    top:0;
    left:0;
    z-index:99;
    border-radius:10px;
}
.banner_1{
    background: url(../img/section_8_banner_1.jpg) no-repeat center;

}
.banner_2{
    background: url(../img/section_8_banner_2.jpg) no-repeat center;
    display: none;

}
.banner_3{
    background: url(../img/section_8_banner_3.png) no-repeat center;
    display: none;

}

.section_8_videobox{
    position: relative;
    width:auto;
    height:auto;
    top:0;
    left:0;
    margin-left:100px;
}
.vedeoimg {
    position:absolute;
    top:100px;
    left:0;
    z-index: 99;
    cursor: pointer;
}
.vedeoimg img{
    border-radius:20px;
}
iframe{
    position: absolute;
    top:100px;
    left:0;
    z-index: 98;
    border-radius:20px;
}
.video_data{
    position: relative;
    top:100px;
    left:0;
    margin-right:50px;
}
.video_data_title h3{
    font-size:2.5rem;
    margin:10px 0;
}
.video_data_inner{
    background-color:rgb(255, 255, 255,0.9);
    width:400px;
    height:240px;
    padding:20px;
    display: flex;
    border-radius: 30px;
    margin-top:30px;
}
.video_data_inner_con{
    margin-top:30px;
    position: relative;
    top:0;
}
.video_data_inner_con > b{
    color:#ff4c00;
}
.video_data_inner_con > h3{
    font-size:1rem;
    margin:15px 0;
}
.video_data_inner_con > p{
    font-size:1.5rem;
    font-weight: 900;
}
.video_data_inner_con >p >span{
    font-size:0.8rem;
    text-decoration: line-through;
    color:#bebebe;
    margin-left:5px;
}
.video_data_inner_con_star{
    top:50%;
}
.video_data_inner_img{
    width:130px;
    height:130px;
    margin-top:50px;
}
.video_data_inner_img img{
    width:100%;
    height:100%;
}
.section_8_pay{
    display: flex;
    margin-top:30px;
    
}
.section_8_payimg{
    width:50px;
    height:50px;
    background-color:#f7eee8;
    border-radius: 50%;
    transition-duration: 0.5s;
    margin-right:10px;
}
.section_8_payimg img{
    width:30px;
    height:30px;
    margin:10px;
}
.section_8_payimg:hover{
    background-color: #ff4c00;
}
.section_8_present{
    width:100px;
    height:100px;
    background-color:#ff4c00;
    border-radius:20px;
    position: relative;
    top:-30px;
    right:-210px;
   
}
.section_8_present:hover > span{
    opacity: 1;
}

.section_8_present img{
    width:50px;
    height:50px;
    margin:25px;
}
.section_8_present > span{
    width:100px;
    height:100px;
    box-sizing: border-box;
    border: 2px solid #ff4c00;
    border-radius:20px;
    background-color: white;
    position: absolute;
    color:#ff4c00;
    font-weight: 900;
    top:0;
    left:0;
    text-align: center;
    line-height:99px;
    opacity: 0;
    transition-duration:0.3s;
}
.vedeoimg::before{
    content:'';
    display:block;
    background:url(../img/section_8_play.png) no-repeat center;
    background-size: contain;
    width:80px;
    height:80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top:50%;
    margin-top:-40px;
    left:50%;
    margin-left:-40px;
}
.vedeoimg::after{
    content:'';
    display:block;
    background-size: contain;
    width:160px;
    height:160px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top:50%;
    margin-top:-80px;
    left:50%;
    margin-left:-80px;
    transition-duration: 0.5s;
    transform:scale(1);
    
}
.section_8_videobox:hover > .vedeoimg::after{
    transform:scale(0);
}
/* section_8 end */

.section_9{
    width:100%;
    height:600px;
}
.section_9 > .container{
    width:1400px;
    height:auto;
    /* background-color: gray; */
    overflow: hidden;
    
}
.section_9_title{
    margin:50px auto;
}
.section_9_title > h3{
    font-size:2rem;
    font-weight:900;
    text-align: center;
}
.section_9_title > p{
    font-size:1.2rem;
    font-weight:500;
    text-align: center;
    margin:20px 0;
}
.section_9_slide_wrap{
    width:1635px;
    height:225px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background-color: green; */
    top:0;
}
.section_9_slide_wrap li a:hover > .section_9_slide_bg{
    opacity: 1;
}
.section_9_slide_bg{
    position: absolute;
    top:0;
    width:213px;
    height:213px;
    background-color: rgba(0,0,0,0.5);
    border-radius:30px;
    opacity: 0;
    transition-duration: 0.5s;
    
}
.section_9_slide_bg img{
    margin:95px;
}
.section_9_slide_wrap > a{
    width:213px;
    height:213px;
    position: relative;
    top:0;
    left:0;
    
}
.section_9_slide_wrap > a >img{
    width:100%;
    height:100%;
}
.section_9_btn{
    width:20px;
    height:20px;
    position: absolute;
    top:52%;
    margin-top:-25px;
}
.section_9_btn_right{
    right:220px;
}
.section_9_btn_left{
    left:220px;
}
.section_9_btn > img{
    width:100%;
    height:100%;
}

.section_9_sns{
    margin:50px auto 0 auto;
    display:flex;
    justify-content: space-between;
    width:250px;
    height:75px;

}
.section_9_sns li{
    width:75px;
    height:75px;

}
.section_9_sns li a{
    width:100%;
    height:100%;
    position: relative;
    top:0;
    
}
.s9_sns{
    background-size:contain;
    width:100%;
    height:100%;
    transition-duration: 0.5s;
}

.section_9_sns3_pop{
    position: absolute;
    width:225px;
    height:69px;
    top:-20px;
    left:80px;
    opacity: 0;
    display: none;

}
.section_9_sns1{
    background:url(../img/sns01.png) no-repeat center;   
}
.section_9_sns2{
    background:url(../img/sns02.png) no-repeat center;   
}
.section_9_sns3{
    background:url(../img/sns03.png) no-repeat center;   
}
.section_9_sns1:hover {
    background:url(../img/sns01_hover.png);
}
.section_9_sns2:hover {
    background:url(../img/sns02_hover.png);
}
.section_9_sns3:hover {
    background:url(../img/sns03_hover.png);
}
.section_9_sns3:hover ~.section_9_sns3_pop{
    display: block;
    opacity: 1;
}
/* section_9 end */
footer{
    width:98%;
    height:auto;
    margin:0 1% 20px 1%;
    background-color:#f7f7f7;
    border-radius:10px;
    padding:100px 0 100px 0;
}
footer > .container{
    width:1400px;
    height:auto;
}
footer:after{
    content:'';
    display:block;
    height:1px;
    width:1200px;
    background-color:#a7a7a6;
    position: absolute;
    left:230px;
    top:90px;
}
.in_footer{
    display: flex;
    letter-spacing: -2px;;
}
.footer_logo{
    position: absolute;
    right:0;
    top:-50px;
}
.footer_left{
    margin-right:60px;
}
.footer_left > h3{
    margin:20px 0;
    font-size:1.5rem;
}
.footer_left p{
    margin-top:10px;
    font-size:0.9rem;
}
.footer_center{
    margin-right:150px;
}
.footer_center > h3{
    margin-top:20px;
    font-size:1.5rem;
}
.footer_center >b{
    color:#ff4c00;
    font-size:3rem;
}
.footer_center >p{
    margin-top:10px;
    font-size: 1.0rem;
}
.footer_right{
    margin-top:90px;
}
.footer_right_top{
    
    display: flex;
}
.footer_right_top li{
    margin-left:50px;
    position: relative;
    top:0;
}

.footer_right_bottom p{
    margin-top:10px;
    color:#a7a7a6;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: -1px;
    text-align: right;
}
.footer_right_top li:after{
    position: absolute;
    top:3px;
    right:-25px;
    content:'';
    display: block;
    width:1px;
    height:15px;
    background-color: #a7a7a6;
    
}
.footer_right_top li:last-child:after{
    display: none;
}

}/* end */