html,body{margin:0; padding:0;font-family: 'Open Sans', sans-serif;}
a{text-decoration: none; color:black;}
nav{margin-top:0;}
ul{margin-top:0;}
li{list-style: none;}
/* nav */
.background{background-image:url(img/Photo.png); background-size: cover; width:100%; height:1500px;}
.freelancer{color:white; font-weight:600; background-color:#fa5c65; border-bottom-left-radius:5px; border-bottom-right-radius:5px; width:140px; text-align: center; padding:40px 0 5px 0; margin:0 0 0 219px; font-size:1.5rem;}

.nav_ul{display:flex; position: absolute; top:30px; right:300px; letter-spacing: 2px;}
.nav_li{width:120px;height:50px; font-weight:550;}
.nav_work{width:110px;}
.nav_portfolio{margin-right:35px;}
.nav_twitter{width:50px;}
.nav_facebook{width:50px;}
/* header_article */
.header_article_p{font-size:60px; margin:480px 0 0 300px; color:#314a5b;}
.header_article_P2{margin:0 0 0 300px;color:#314a5b; font-weight: 550;}
.header_article_Btn{color:white;background-color:#fa5c65; text-align: center;width:150px; padding:25px 0 25px 0;border-radius: 5px; margin:50px 0 0 300px;}
/* section_body */
.section_body{margin:90px 0 0 330px;}
.section_body_article{float:left;}
.section_body_article2{margin-left:150px;}

.section_body_P{color:#b1b5be;}
.section_body_img{color:#fa5c65;}
.section_body_Name{color:#465065;font-size:25px;}
/* section_body2 */
.section_body2_img{margin:0 0 0 400px; padding-top:100px;}

.section_body2_P{position: absolute; top:1940px; right:450px;}
.section_body2_P_first{color:#465065;font-size:65px;}
.section_body2_P_second{color:#465065;}
.section_body2_P_third{color:#b1b5be; margin-top:20px;}
.section_body2_P_fourth{color:#b1b5be;margin-top:20px;}
.section_body2_P_fifth{margin-top:30px;}
/*section_body3 */
.section_body3{margin:100px 300px 0 330px;}
.section_body3_member{display:flex; flex-direction: row;}
.section_body3_member1{flex:1;}
.section_body3_member2{flex:1;}
.section_body3_member3{flex:1;}

.section_body3_p{color:#b1b5be; margin:0 0 50px 0; font-weight: 400; }
.section_body3_ourteam{color:#465065; font-size: 25px;}
.section_body3_more{text-align: right; margin:50px 30px 50px 0;}

.section_body3_member_img{float:left; margin:0 50px 0 20px;}
.section_body3_member_name{font-size:20px;}
.section_body3_member_jop{color:#fa5c65;}
.section_body3_member_coment{color:#b1b5be;}
/* footer */
footer>article{display:flex; margin-bottom:40px;}
.footer_divider{margin:0 0 40px 330px;}

.footer_img_img{margin-left:15px; flex:1;}
.footer_img_twitter{margin-left:330px;}

.footer_logo{color:#b1b5be;flex:1;text-align:right;margin-right:330px;}
