html body{
    background-color:#98b1d3;
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
}
li{list-style: none;}
.logo>img{width:130px; height:90px; padding:100px 0 50px 920px;}
a{text-decoration: none; color:black; font-weight: bolder;}

.container{width:350px; height:320px; background-color: white;border-radius:5%;box-shadow:6px 6px 0 0 rgba(0,0,0,0.3);  }
.container>img{width:100%;height:65%;border-top-left-radius: 5%; border-top-right-radius: 5%;}
.container>p{font-size:20px; text-align:center;}
.container>p:hover{color:#1245b2;}
section>a{float:left}
section>a:nth-child(1){margin:0 30px 40px 600px;}
section>a:nth-child(3){clear: both; padding:0 30px 40px 600px;}
.img_p{padding-top:15px;}

